<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script type="text/javascript" src="/bower_components/tinymce/tinymce.js"></script>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
	<script type="text/javascript" src="/admin/admin.js"></script>
	<script type="text/javascript" src="/admin/editor/AjexFileManager/ajex.js"></script>

</head>
<body>

	
	<div is-editable>
		dsdsdsd dss dsdsds
	</div>

	<div is-editable>
		ds222 dddsdsd dss dsdsds
	</div>

	<div class="modal fade in show " ng-show = "showModal" id="editModal" ng-controller="adminEditor">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>
	        	{{ showModal }}
	        	<textarea ui-tinymce="tinymceOptions" ng-model="blockContent">fffff</textarea>
	        	{{ blockContent }}
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" ng-click=	"save()" class="btn btn-primary">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.сss">
	<!-- Latest compiled and minified JavaScript -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>


</body>
</html>